<header id="header" class="center">
    <div id="contentHeader">
        <div id="time"></div>
        {{{header}}}
        <div id="userInfo">
            <p>Имя: {{{username}}}</p>
            <p>Статус: {{{role}}}</p>
            <p>
                <a href="logoff">Выход</a>
            </p>
        </div>
    </div>
    <div id="contentBody">
    </div>
    <div id="footer">
        <p class="author">Copyright © (2017) Jahongir Tulforov</p>
    </div>
</header>
