<!DOCTYPE html>
<html>
  <head>
    <title>Ветеренарная аптека</title>
    <link rel='stylesheet' href='stylesheets/style.css' >
    <!--<link rel='stylesheet' href='stylesheets/jquery-ui.css' >-->
      <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css">
      <!--&lt;!&ndash;<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">&ndash;&gt;-->
      <link rel="stylesheet" href="assets/css/form-elements.css">
      <link rel="stylesheet" href="assets/css/style.css">
      <!--<link rel="shortcut icon" href="images/favicon-new.png" type="image/png">-->
      <
  </head>
  <body>
    <div id="bodyLayout">
        {{{content}}}
    </div>

    <div id="loading" class="hidden">
        <img src="images/loading.gif" width="100">
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!--<script src="javascripts/jquery.validate.min.js"></script>-->
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.js"></script>
    <script src="assets/js/jquery.backstretch.js"></script>
    <script src="assets/js/scripts.js"></script>
    <div id="modalForm"></div>
  </body>
  <!--<script src="public/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>-->
</html>
